@{
    ViewData["Title"] = "Home Page";
    @model TextStatistic;
}
<div class="row body-content">
    @if(Model != null)
    {
        <p>Text number: @Model.TextNum</p>
        <p>High rank part:@Model.HighRankPart</p>
        <p>Average rank:@Math.Round(Model.AvgRank, 2)</p>
    }
    else
    {
        <p>Пока нет информации для статистики</p>
    }
</div>
