@{
    ViewData["Title"] = "Home Page";
}
<div class="row body-content">
    <form autocomplete="off" class="form" method="POST">
        <div class="form-input">Data: <input name="data" type="text" /></div>
        <input type="submit" />
    </form>
</div>
